/*********************************

------------SOMMAIRE--------------
			
1.Constants and variables
2.Menu latéral[navigation admin]
3.Ingrédients
4.Calendar

*********************************/

/*1.Constants and variables*/
.cb{
	clear:both;
}
body{
	margin:0;
}

/*2.CSS menu latéral[navigation admin]*/
.hiddenmenu{
	width:200px;
	background-color:black;
	height:100%;
	position:fixed;
	right:0;
}
.hiddenmenu ul{
	margin-top:0;
	padding:0;
	width:100%;
}
.hiddenmenu a{
	text-decoration:none;
}
.hiddenmenu ul a{
	color:white;
}
.hiddenmenu ul a li{
	text-align:center;
	margin:10px 0 10px 0;
}

/*3.Ingrédients*/
.bigforming{
	width:90%;
	margin:auto;
	border-collapse:collapse;
}
.bigforming table, .bigforming thead, .bigforming tbody, .bigforming tfoot{
	width:90%;
	border-collapse:collapse;
}
.bigforming table tr, .bigforming table tr td, .bigforming table tr th{
	border:1px solid black;
}
.bigforming thead tr{
	width:90%;
}
.bigforming thead tr th:nth-child(1){
	width:10%;
}
.bigforming thead tr th:nth-child(n+2){
	width:30%;
}
.bigforming table tbody tr td{
	text-align:center;
}
.imgforming{
	width:100px;
}
.actioning{
	
}
/*4. Calendar*/
.containercalendar{
	width: 40%;
	margin:auto;
}