@media all and (min-width:670px) and (max-width:1200px){
	.header{
		background:url('../images/home/bgardoise.jpg');
	}
	.containeractu img, .containeractu p, .containeroverflowproduct, .containerformcommande form div, .containergalerie, .containeractuarticle img, .containeractuarticle p{
		width:670px;
		margin:auto;
	}
	.containeractu p{
		height:210px;
	}
	#map{
		height:400px;
	}
	.containerformcommande form{
		background:url('../images/home/bgformweb.jpg');
	}
	.containerformcommande form textarea{
		margin-left:0;
	}
	.menuweb{
		display:none;
	}
	.containergalerieimg{
		width:45%;
		height:202px;
	}
	.containergalerie img{
		width:100%;
	}
	.containerslidepres{
		height:310px;
	}
}