@media all and (min-width:1201px){
	.header{
		margin-bottom:15px;
		background:url('../images/home/bgardoise.jpg');
		background-position:center;
		background-repeat:no-repeat;
	}
	.menupop, .hammenu{
		display:none;
	}
	.menuweb{
		display:block;
		width:1200px;
		margin:auto;
		margin-bottom:15px;
	}
	.menuweb ul{
		margin:0;
		padding:0;
		list-style-type:none;
		
		display:flex;
		flex-flow:row wrap;
		justify-content:space-around;
		align-items:center;
	}
	.menuweb ul a{
		text-decoration:none;
		color:black;
		font-weight:bold;
	}
	.containeractu, .containerrdv, .containertitleproduits, .navgeoloc, #map, .containerproduits, .containeroverflowproduct, .containerformcommande form div, .containerformcommande, .footer, .containergalerie, .containeractuarticle, .containertitleformules, .containeravis,.containerformule,.containerformulesprecision,.detailproduit, .containeractuactu{
		width:1200px;
		margin:auto;
	}
	#map{
		height:500px;
	}
	.containerformcommande form{
		background:url('../images/home/bgformweb2.jpg');
		background-position:center;
		background-repeat:no-repeat;
		
		display:flex;
		flex-flow:row wrap;
		justify-content:space-around;
		align-items:center;
	}
	.containerformcommande form input:nth-child(-n+16), .containerformcommande form select, .containerformcommande form textarea, .containerformcommande form label{
		width:90%;
		margin:auto;
	}
	.containerformcommande form input:last-child{
		width:15%;
	
	}
	.containerformcommande form span{
		width:90%;
		display:block;
		margin:10px auto 0 auto;
	}
	.containeractu img{
		width:45%;
		display:inline-block;
		margin-right:1.5%;
		margin-left:1.5%;
	}
	.containeractu p{
		width:50%;
		display:inline-block;
		font-size:22px;
		height:365px;
	}
	.containeractuactu img{
		width:45%;
		display:inline-block;
		margin-right:1.5%;
		margin-left:1.5%;
	}
	.containeractuactu p{
		font-size:22px;
		height:335px;
		width:100%;
		margin:0;
	}
	.buttoncontaineractuactu{
		display:inline-block;
	}
	.containerbigarticle{
		width:50%;
		display:inline-block;
		padding-bottom:20px;
	}
	.containergalerieimg{
		width:33%;
		height:265px;
		margin-top:2px;
		margin-bottom:2px;
	}
	.containergalerie img{
		width:100%;
	}
	.containerslidepres{
		width:1200px;
		height:460px;
	}
	.containertxtpres{
		width:1200px;
	}
	.containeractuarticle img{
		float:left;
		width:45%;
		margin:0 1.5% 0 1.5%;
	}
	.containeractuarticle p{
		font-size:22px;
	}
	.navgeoloc p{
		font-size:25px;
	}
	.containertitleformules h3{
		font-size:30px;
	}
	.containerformulesprecision p{
		font-size:24px;
		padding-top:25px;
	}
	.containerformule h4{
		font-size:40px;
		line-height:80px;
	}
	.detailproduit img{
		width:45%;
		float:left;
		margin:10px 2.5% 0 2.5%;
	}
	.containerflamsprod p:nth-child(3){
		margin-top:10px;
	}
	.containerflamsprod h6{
		line-height:60px;
	}
	/*16.Administration|Avis client*/
	.titlemodo{
		width:1200px;
	}
}