@media all and (min-width:670px) and (max-width:1200px){
	.header{
		background:url('../images/home/bgardoise.jpg');
	}
	.containeractu img, .containeractu p, .containeroverflowproduct, .containerformcommande form div{
		width:670px;
	}
	.containeractu p{
		height:220px;
	}
	#map{
		height:400px;
	}
	.containerformcommande form{
		background:url('../images/home/bgformweb.jpg');
	}
	.menuweb{
		display:none;
	}
}